[color]
	ui = true
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
[credential]
	helper = store
[diff]
	compactionHeuristic = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[gpg]
	program = gpg
[url "https://github.com/"]
	insteadOf = git://github.com/
	insteadOf = git@github.com:
	insteadOf = http://github.com/
[user]
	name = Dylan Arbour
	email = dylan.arbour@gmail.com
	signingkey = 52582EDE
