[color]
	ui = true
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
	pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
	autocrlf = input
[credential]
	helper = osxkeychain
[diff]
	indentHeuristic = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[interactive]
	diffFilter = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[gpg]
	program = gpg
[url "https://github.com/"]
	insteadOf = git://github.com/
	insteadOf = git@github.com:
	insteadOf = http://github.com/
[user]
	name = Dylan Arbour
	email = dylan.arbour@gmail.com
	signingkey = 52582EDE
